{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="">
      <input type="text" name="" id="query_box" value="">
      <button type="button" name="button" onclick="search();">query</button>
    </div>
    <div class="">
      <textarea name="name" rows="8" cols="80" id="answer_box"></textarea>
    </div>



    <script type="text/javascript" src="{% static 'jquery-2.2.4.min.js' %}"></script>
    <script type="text/javascript">
      function search()
      {
        $.ajax({
            url: "/search",
            data:{'query':$("#query_box").val()}
          }).done(function(data) {
            $("#answer_box").val(data.result);
          });
      }
    </script>

  </body>
</html>
